version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "5050:5050"
    environment:
      DB_FILE: "/app/data.db"
      STORAGE_DIR: "/app/cloudStorage"
    volumes:
      - ./data.db:/app/data.db
      - ./storage:/app/cloudStorage
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    restart: unless-stopped

  caddy:
    image: caddy:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile.dev:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend
      - frontend

volumes:
  caddy_data:
  caddy_config:
